@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .subscription {
        padding: 100px 32PX;
    }

    .subscription-container {
        margin: 0;
        padding: 0;
        justify-content: start;
        align-items: start;
    }

    . subscription-div {
        margin-bottom: 64px;
    }

    .subscription-title {
        text-align: left;
        font-size: 32px;
        line-height: 1.4em;
        margin-bottom: 30px;
    }

    .subscription-form-wrap {
        /*  margin-bottom: 64px;*/
    }

    .subscription-subtitle {
        font-size: 18px;
        max-width: 536px;
    }

    .subscription-imput-div {}

    .subscription-input {
        display: flex;
        max-width: 536px;
        margin-left: 0;
    }

    .subscription-check-text {
        font-size: 18px;
    }

    .subscription-check-div {
        margin-bottom: 30px;
    }

    .subscription-check {
        border: 1px solid #B6B6B6;
    }

    .subscription-form-btm {}

    .subscription-form-btm:hover,
    .subscription-form-btm:focus {}

    .subscription-form-btm-link {
        font-size: 18px;
        line-height: 1.33em;
    }

    .subscription-img {
        display: block;
        width: 704px;
        height: 396px;
    }


}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }

    .subscription {
        padding: 100px 172px 86px 172px;

    }

    .subscription-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .subscription-div {
        padding: 0;
        justify-content: start;
        margin-right: 0;
        margin-bottom: 0;
    }

    .subscription-title {
        margin-top: 0;
        margin-bottom: 31px;
    }

    .subscription-form-wrap {}

    .subscription-subtitle {}

    .subscription-input {}

    .subscription-input:hover,
    .subscription-input:focus,
    .subscription-input:valid {}

    .subscription-imput:invalid {}

    .subscription-check-text {}

    .subscription-check-div {}

    .subscription-check {}


    .subscription-form-btm {}

    .subscription-form-btm:hover,
    .subscription-form-btm:focus {
        background-color: #061835;
    }

    .subscription-form-btm-link {}

    .subscription-img {
        display: block;
        width: 460px;
        height: 410px;
        margin-left: 100px;
        margin-bottom: 0;
    }
}